In [2]:
import pandas as pd
import numpy as np

In [9]:
entrada = pd.read_csv("test_entrada.csv")
salida = pd.read_csv("test_salida.csv")

In [99]:
for i in range (salida['frame'].max()+1):
    new_in = entrada.loc[entrada['frame'] == i]
    new_in = new_in.reset_index()
    new_out = salida.loc[salida['frame'] == i]
    new_out = new_out.reset_index()
    
    for index_out, row in new_out.iterrows():
        x_out, y_out = new_out.loc[index_out, "x"], new_out.loc[index_out, "y"]
        dist = []
        
        for index_in , row in new_in.iterrows():
            x_in, y_in = new_in.loc[index_in, "x"], new_in.loc[index_in, "y"]
            distance = np.sqrt((x_out-x_in)**2 + (y_out-y_in)**2)
            dist.append(distance)
        

        id_out = new_out.at[index_out,'id_particula']
        id_in = new_in.at[np.argmin(dist),'id_particula']
        
        print(id_in,id_out)

0 0
2 1
4 2
3 3
1 4
5 5
7 6
6 7

In [105]:
salida_completa.sort_values(by=['id', 'frame'])

     id          x          y  fluorescence  frame
11    1  37.584198   4.047877           NaN      3
23    1  37.698291   5.850427           NaN      4
35    1  29.568468   3.332595           NaN      5
47    1  29.163561   3.784692           NaN      6
59    1  28.837263   4.253092           NaN      7
72    1  27.295098   6.615123           NaN      8
84    1  27.345977   7.288937           NaN      9
96    1  27.323853   8.001027           NaN     10
108   1  27.103978   8.864794           NaN     11
121   1  27.035213   9.094564           NaN     12
134   1  29.223828   7.614450           NaN     13
147   1  29.640268   7.282595           NaN     14
160   1  30.126974   7.055154           NaN     15
173   1  30.708488   6.950465           NaN     16
184   1  31.228385   6.838114           NaN     17
196   1  31.868731   6.611146           NaN     18
209   1  32.256802   6.488083           NaN     19
222   1  34.337527   5.836670           NaN     20
235   1  33.705954   5.560657           NaN     21
248   1  33.079820   5.351546           NaN     22
260   1  32.484927   5.151107           NaN     23
271   1  33.866749   6.559736           NaN     24
283   1  34.223348   6.731403           NaN     25
296   1  34.668601   6.990143           NaN     26
309   1  35.143386   7.102557           NaN     27
322   1  35.790106   7.377032           NaN     28
333   1  36.476356   7.672178           NaN     29
344   1  36.945407   7.895276           NaN     30
354   1  37.284236   8.130788           NaN     31
364   1  37.604545   8.472193           NaN     32
..   ..        ...        ...           ...    ...
463  18  42.290098  43.133170           NaN     42
472  18  41.847613  43.188878           NaN     43
479  18  41.405128  43.244587           NaN     44
487  18  40.962643  43.300295           NaN     45
495  18  40.520158  43.356003           NaN     46
504  18  40.077673  43.411711           NaN     47
513  18  39.635188  43.467420           NaN     48
522  18  39.192703  43.523128           NaN     49
397  19   3.298387   0.870565           NaN     35
411  19   0.723445   1.332536           NaN     36
421  19  -0.521966   1.415853           NaN     37
431  19  -2.259091   1.618286           NaN     38
419  20  50.572245  28.328980           NaN     37
429  20  50.382657  29.146125           NaN     38
439  20  50.183699  29.665354           NaN     39
448  20  49.969451  30.324236           NaN     40
441  21  28.932187   2.439066           NaN     40
456  21  28.830597   4.195522           NaN     41
464  21  29.206495   4.966564           NaN     42
466  21  29.474461   6.102875           NaN     43
480  21  29.742426   7.239185           NaN     44
488  21  27.927397  12.015982           NaN     45
497  21  27.743382  14.119118           NaN     46
506  21  28.378947  16.221579           NaN     47
515  21  29.198824  18.341176           NaN     48
523  21  30.051990  20.449254           NaN     49
496  22  46.195833  38.575000           NaN     46
505  22  46.060874  38.976080           NaN     47
514  22  45.858459  39.577628           NaN     48
524  22  45.656045  40.179176           NaN     49

[525 rows x 5 columns]

In [37]:
entrada_nueva = pd.read_csv("prueba_in.csv")
salida_nueva = pd.read_csv("prueba_out.csv")


entrada_nueva.columns = ['id_particula','y','x','frame','ctcf','mean_gray_value']
salida_nueva

    id           x           y  fluorescence  frame
0    2  307.397000   28.557000           NaN      2
1    3  211.030120   42.970884           NaN      2
2    4  208.988645   96.646480           NaN      2
3    5  386.788732  102.347418           NaN      2
4    6  441.141732  315.462992           NaN      2
5    9  439.822888  377.399183           NaN      2
6   10  451.369472  428.736091           NaN      2
7    7   52.729873  360.125000           NaN      2
8    8   91.160998  383.387755           NaN      2
9   11   95.754960  479.002976           NaN      2
10  12   18.411328  485.975859           NaN      2
11   1  375.841981   40.478774           NaN      3
12   2  305.771511   29.119503           NaN      3
13   3  218.136232   31.057005           NaN      3
14   4  203.367546   92.463876           NaN      3
15   5  394.261745  108.644295           NaN      3
16   6  440.873840  316.294991           NaN      3
17   9  446.307453  353.419255           NaN      3
18  10  472.742667  416.876000           NaN      3
19   7   69.075502  374.476372           NaN      3
20   8  165.925926  410.148148           NaN      3
21  11   95.901639  479.485428           NaN      3
22  12   16.883300  485.775654           NaN      3

In [40]:
entrada = entrada_nueva
salida = salida_nueva

for i in range (salida['frame'].max()+1):
    
    if len(salida.loc[salida['frame'] == i]) != 0:
        
        new_in = entrada.loc[entrada['frame'] == i]
        new_in = new_in.reset_index()
        new_out = salida.loc[salida['frame'] == i]
        #new_out = new_out.reset_index()
        
    
        for index_out, row in new_out.iterrows():
            x_out, y_out = new_out.loc[index_out, "x"], new_out.loc[index_out, "y"]
            id_out = new_out.at[index_out,'id']
            dist = []
        
            for index_in , row in new_in.iterrows():
                x_in, y_in = new_in.loc[index_in, "x"], new_in.loc[index_in, "y"]
                distance = np.sqrt((x_out-x_in)**2 + (y_out-y_in)**2)
                dist.append(distance)
                
            id_in = new_in.at[np.argmin(dist),'id_particula']
        
            print('id out: ',id_out,'se corresponde con: ',id_in)

id out:  2 se corresponde con:  24
id out:  3 se corresponde con:  25
id out:  4 se corresponde con:  26
id out:  5 se corresponde con:  27
id out:  6 se corresponde con:  28
id out:  9 se corresponde con:  30
id out:  10 se corresponde con:  32
id out:  7 se corresponde con:  29
id out:  8 se corresponde con:  31
id out:  11 se corresponde con:  33
id out:  12 se corresponde con:  34
id out:  1 se corresponde con:  37
id out:  2 se corresponde con:  35
id out:  3 se corresponde con:  36
id out:  4 se corresponde con:  38
id out:  5 se corresponde con:  39
id out:  6 se corresponde con:  40
id out:  9 se corresponde con:  41
id out:  10 se corresponde con:  43
id out:  7 se corresponde con:  42
id out:  8 se corresponde con:  44
id out:  11 se corresponde con:  45
id out:  12 se corresponde con:  46

In [112]:
len(salida.loc[salida['frame'] == 0])

0